.dev-page-container {
  .page-projects {
    .card {
      padding: 1.5rem;
    }

    .tag {
      margin: 0.1rem;
    }
  }
  .work-card-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (min-width: 40em) {
    .work-card-grid {
      grid-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
