@import "../../styles/global.scss";

.comment-section {
  display: grid;
  grid-gap: 2rem;
  margin-top: 3rem;

  .comment-row {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: 2rem 1fr;

    .edit-input-wrapper {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr min-content;
    }

    .comment-header {
      margin-bottom: 0.25rem;
    }
    .comment-content {
      margin-bottom: 1rem;
    }

    .comment-actions {
      .comment-action-btn {
        display: inline-block;
        min-width: 3rem;
        cursor: pointer;
        font-size: 0.8rem;
      }
      .delete-btn {
        color: $danger;
      }

      .timestamp {
        margin-left: 1rem;
      }
    }
  }
}
