.dashboard-greet {
    display: flex;
    width: 100%;
    justify-content: center;
}

.dashboard-projects {
    margin: 5%;
    width: 100%;
    display: block;

    .project-container {
        display: flex;
        flex-direction: row;

        .project-body {
            display: flex;
            flex-direction: column;
            margin-right: 5%;
        }
    }
}
